.container {
  width: 100%;
  justify-content: end;
  padding: 20px;
}

.allCards {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  gap: 14px;
}

.images {
  margin: 10px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid black;
}
